
.parent {
    border: 5px solid black;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 100px;
    height: 100px;
    background: rgb(211, 105, 238);
    position: absolute;
    inset: 0;
    margin: auto;

}

body {
    background: rgb(73, 152, 243);
    margin: 50px;
}